{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %} تغییر رمز عبور فعلی{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h1> تغییر رمز عبور فعلی</h1>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">تغییر رمز عبور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


