{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}تفییر رمز عبور{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                   <h1 class="text-center">.رمز عبور با موفقیت تغییر کرد</h1>
                    <a class="text-decoration-none" href="{% url 'login' %}">بازگشت به صفحه ورود</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


